body {
	color: #5a5a5a;
	background-color:#FFFAFA;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 18px;
}

.jumbotron {
	letter-spacing: 1px;
	color: #696969;
	margin: 20px;
}


.container {
	padding-top: 20px;
	padding-bottom: 20px;

}
.card{
	background-color: #F9FBFB;
}

.btn {
	font-family: 'Nunito Sans', sans-serif;
}
